.staking-mainMint {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: center;
}

.mint-input {
  margin-top: 20px;
}

.mint-button {
  margin-left: 10px;
}
