#App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(219, 89, 3) 0%,
    rgb(241, 218, 4) 100%
  );
}

#App .container {
  width: 80%;
  min-width: 60rem;
  max-width: 75rem;
  height: 100%;
}

.app-navbar {
  margin: 10px 50px 10px 30px;
  width: 19rem;
}

button[class*="button"] {
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 12px;
  min-width: 75px;
  max-width: 200px;

  text-align: center;
  cursor: pointer;
  box-shadow: 3px 2px 0 0 #3273a89f;
  color: white;
  background: rgba(0, 0, 0, 0.575);
  transition: transform 0.1s ease;
}

button[class*="button"]:disabled {
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 12px;
  min-width: 75px;
  text-align: center;
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.205);
  pointer-events: none;
}

button[class*="button"]::after,
button[class*="button"]::before {
  content: "";
  position: absolute;
  opacity: 0.2;
  background-color: rgb(0, 0, 0);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.1s ease;
}

button[class*="button"]:hover {
  transform: translate(-3px, -3px);
}

button[class*="button"]:hover::after {
  transform: translate(-1.5px, -0.1.5px);
}

button[class*="button"]:hover::before {
  transform: translate(3px, 3px);
}

input[class*="inputTxt"] {
  font-size: 12px;
  border: none;
  appearance: none;
  background: #f2f2f2b9;
  padding: 10px;
  outline: none;
  width: 260px;
  border-radius: 5px;
}

span[class*="instruction"] {
  color: white;
  margin: 5px;
  padding-top: 10px;
}

.welcome {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* code {
  display: block;
  white-space: pre-wrap;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  font-size: 1.4rem;
}

code span {
  transition: all 0.3s;
}

code span.primary-color {
  color: var(--primary-color);
}

code span.secondary-color {
  color: var(--secondary-color);
}

code span.dim-color {
  color: var(--gray);
}

code span.flash {
  background-color: var(--flash-color);
} */

/* p {
  line-height: 2.6rem;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
} */

hr {
  margin: 4rem 0;
}

#App .container .welcome h1 {
  padding-top: 7.5rem;
  font-size: 2.6rem;
}

#App .container footer {
  padding-bottom: 7.5rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}

#wrong {
  border: 5px solid red;
  padding: 5px;
}
