.staking-mainMint {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  align-items: center;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: center;
}

.staking-main {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  align-items: center;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: center;
}

.staking-admin-instruction {
  margin: 20px 0px 40px 0px;
}

.staking-input,
.widthdraw-input {
  margin: 10px 10px 10px 65px;
}

.mint-input {
  margin-top: 20px;
}

.mint-button,
.staking-button,
.withdraw-button,
.withdrawReward-button {
  margin-left: 10px;
}

.staking-info {
  display: flex;
  justify-content: space-between;
}
