.class-accountInfo {
    display: flex;
    justify-content: flex-end;
  }
  
  .class-itemAccountInfo {
    color: white;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    border: 5px double #00000091;
    border-radius: 10px 10px 10px 10px;
    border-color: #00000075;
  }